[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
aiohttp = "*"
asyncssh = "*"
bcrypt = "*"
cachetools = "*"
cwltool = "*"
Jinja2 = "*"
jsonref = "*"
jsonschema = "*"
kubernetes_asyncio = "*"
uvloop = "*"

[requires]
python_version = "3.8"
