aiohttp==3.10.6
aiosqlite==0.20.0
antlr4-python3-runtime==4.13.2
asyncssh==2.17.0
bcrypt==4.2.0
cachetools==5.5.0
cwltool==3.1.20240708091337
cwl-utils==0.34
importlib-metadata==8.5.0
importlib-resources==6.4.5
Jinja2==3.1.4
jsonschema==4.23.0
kubernetes_asyncio==30.3.1
psutil==6.0.0
referencing==0.35.1
rdflib==7.0.0
yattag==1.16.0