aiohttp==3.11.0
aiosqlite==0.20.0
antlr4-python3-runtime==4.13.2
asyncssh==2.18.0
bcrypt==4.2.0
cachetools==5.5.0
cwltool==3.1.20240708091337
cwl-utils==0.35
importlib-metadata==8.5.0
Jinja2==3.1.4
jsonschema==4.23.0
kubernetes_asyncio==31.1.0
psutil==6.1.0
referencing==0.35.1
rdflib==7.0.0
yattag==1.16.1