name: "CI Tests"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  code-ql-check:
    name: "StreamFlow CodeQL check"
    runs-on: ubuntu-22.04
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: github/codeql-action/init@v2
        with:
          config-file: .github/codeql/config.yml
          languages: python
      - uses: github/codeql-action/analyze@v2
  cwl-conformance:
    name: "CWL conformance tests"
    strategy:
      matrix:
        on: [ "ubuntu-22.04" ]
        python: [ "3.8", "3.9", "3.10", "3.11" ]
        version: [ "v1.0", "v1.1", "v1.2" ]
        docker: [ "docker" ]
        include:
          - commit: "1c1f122f780075d910fdfdea7e15e46eef3c078d"
            exclude: "docker_entrypoint"
            version: "v1.0"
          - commit: "6397014050177074c9ccd0d771577f7fa9f728a3"
            exclude: "docker_entrypoint,stdin_shorcut,inplace_update_on_file_content"
            version: "v1.1"
          - commit: "c9d4ade6dd3725197b81ba30046fdcbae9f8002a"
            exclude: "docker_entrypoint,modify_file_content"
            version: "v1.2"
          - docker: "singularity"
            commit: "c9d4ade6dd3725197b81ba30046fdcbae9f8002a"
            exclude: "docker_entrypoint,modify_file_content,iwd-container-entryname1"
            on: "ubuntu-22.04"
            python: "3.11"
            version: "v1.2"
          - docker: "kubernetes"
            commit: "c9d4ade6dd3725197b81ba30046fdcbae9f8002a"
            exclude: "docker_entrypoint,modify_file_content"
            on: "ubuntu-22.04"
            python: "3.11"
            version: "v1.2"
          - on: "macos-12"
            python: "3.11"
            commit: "c9d4ade6dd3725197b81ba30046fdcbae9f8002a"
            exclude: "docker_entrypoint,modify_file_content"
            version: "v1.2"
    runs-on: ${{ matrix.on }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test-requirements.txt
      - uses: actions/setup-node@v3
        with:
          node-version: "15"
      - name: "Install Docker (MacOS X)"
        uses: douglascamata/setup-docker-macos-action@v1-alpha
        if: ${{ startsWith(matrix.on, 'macos-') }}
      - uses: docker/setup-qemu-action@v2
      - name: "Install Apptainer"
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.1.7
        if: ${{ matrix.docker == 'singularity' }}
      - name: "Install KinD"
        uses: helm/kind-action@v1
        with:
          config: .github/kind/config.yaml
          kubectl_version: v1.26.3
          version: v0.18.0
        if: ${{ matrix.docker == 'kubernetes' }}
      - name: "Configure Calico on KinD"
        run: |
          kubectl apply -f https://docs.projectcalico.org/v3.25/manifests/calico.yaml
          kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true
        if: ${{ matrix.docker == 'kubernetes' }}
      - name: "Install Streamflow"
        run: |
          python -m pip install . --user
      - name: "Test CWL ${{ matrix.version }} conformance"
        env:
          VERSION: ${{ matrix.version }}
          COMMIT: ${{ matrix.commit }}
          EXCLUDE: ${{ matrix.exclude }}
          DOCKER: ${{ matrix.docker }}
        run: ./cwl-conformance-test.sh
      - name: "Upload coverage report for conformance tests"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ format('py{0}-cwl{1}-conformance-tests', matrix.python, matrix.version) }}
          path: ./coverage.xml
          retention-days: 1
          if-no-files-found: error
  docker-image:
    name: "StreamFlow Docker image tests"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2
      - name: "Build Docker image"
        uses: docker/build-push-action@v4
        with:
          build-args: |
            HELM_VERSION=v3.7.2
          load: true
          tags: alphaunito/streamflow:latest
      - name: "Run test with Docker"
        run: |
          mkdir -p "${TMPDIR:-/tmp}"/project "${TMPDIR:-/tmp}"/results "${TMPDIR:-/tmp}"/streamflow
          docker run --rm \
            --mount type=bind,source="$(pwd)/tests/cwl-example",target="/streamflow/project" \
            --mount type=bind,source="${TMPDIR:-/tmp}"/results,target="/streamflow/results" \
            --mount type=bind,source="${TMPDIR:-/tmp}"/streamflow,target="/tmp/streamflow" \
            alphaunito/streamflow:latest \
            streamflow run /streamflow/project/streamflow.yml
  test-flux:
    runs-on: ubuntu-latest
    permissions:
      packages: read
    strategy:
      fail-fast: false
      matrix:
        container: ["fluxrm/flux-sched:focal"]
    container:
      image: ${{ matrix.container }}
      options: "--platform=linux/amd64 --user root -it"
    name: ${{ matrix.container }}
    steps:
      - name: Make Space
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Streamflow
        run: |
         pip install . 
         pip install lockfile
         chown -R fluxuser .
      - name: Start Flux and Test Workflow
        run: |
          su fluxuser
          cd examples/flux
          which streamflow
          flux start streamflow run streamflow.yml
  static-checks:
    name: "StreamFlow static checks"
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        step: [ "bandit", "lint" ]
    env:
      TOXENV: ${{ matrix.step }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: |
            requirements.txt
            test-requirements.txt
            tox.ini
      - name: "Install Python Dependencies and Streamflow"
        run: |
          python -m pip install tox --user
          python -m pip install . --user
      - name: "Run StreamFlow static analysis via Tox"
        run: tox
  unit-tests:
    name: "StreamFlow unit tests"
    strategy:
      matrix:
        on: [ "ubuntu-22.04"]
        python: [ "3.8", "3.9", "3.10", "3.11" ]
        include:
          - on: "macos-12"
            python: "3.11"
    runs-on: ${{ matrix.on }}
    env:
      TOXENV: ${{ format('py{0}-unit', matrix.python) }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: |
            requirements.txt
            tox.ini
      - uses: actions/setup-node@v3
        with:
          node-version: "15"
      - name: "Install Docker (MacOs X)"
        uses: douglascamata/setup-docker-macos-action@v1-alpha
        if: ${{ startsWith(matrix.on, 'macos-') }}
      - uses: docker/setup-qemu-action@v2
      - name: "Install Apptainer"
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.1.7
        if: ${{ startsWith(matrix.on, 'ubuntu-') }}
      - name: "Install KinD"
        uses: helm/kind-action@v1
        with:
          config: .github/kind/config.yaml
          kubectl_version: v1.26.3
          version: v0.18.0
        if: ${{ startsWith(matrix.on, 'ubuntu-') }}
      - name: "Configure Calico on KinD"
        run: |
          kubectl apply -f https://docs.projectcalico.org/v3.25/manifests/calico.yaml
          kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true
        if: ${{ startsWith(matrix.on, 'ubuntu-') }}
      - name: "Install Python Dependencies and Streamflow"
        run: |
          python -m pip install tox --user
          python -m pip install . --user
      - name: "Run StreamFlow tests via Tox"
        run: python -m tox
      - name: "Upload coverage report for unit tests"
        uses: actions/upload-artifact@v3
        with:
          name: ${{ format('py{0}-unit-tests', matrix.python) }}
          path: ./coverage.xml
          retention-days: 1
          if-no-files-found: error
  upload-to-codecov:
    name: "Codecov report upload"
    needs: ["cwl-conformance", "unit-tests"]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: "Download artifacts"
        uses: actions/download-artifact@v3
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
