name: "Continuous integration tests"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  cwl-conformance:
    name: "CWL Conformance"
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - mark: "cwl10"
            version: "1.0"
          - mark: "cwl11"
            version: "1.1"
          - mark: "cwl12"
            version: "1.2"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - uses: actions/setup-node@v3
        with:
          node-version: "15"
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v2
      - name: "Install Python Dependencies and Streamflow"
        run: |
          python -m pip install requests tabulate pytest pytest-asyncio cwltest --user
          python -m pip install . --user
      - name: "Test CWL ${{ matrix.version }} Conformance"
        env:
          PYTEST_MARK: ${{ matrix.mark }}
        run: pytest -m $PYTEST_MARK
  streamflow-tests:
    name: "StreamFlow Tests"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - uses: actions/setup-node@v3
        with:
          node-version: "15"
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v2
      - name: "Install Python Dependencies and Streamflow"
        run: |
          python -m pip install requests tabulate pytest pytest-asyncio --user
          python -m pip install . --user
      - name: "Run StreamFlow tests (excluding CWL Conformance)"
        run: pytest -m "not conformance"