name: "CI Tests"
on:
  push:
    branches:
      - master
      - test-k8s-buffer
  pull_request:
    branches:
      - master
concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  cwl-conformance:
    name: "CWL conformance tests"
    strategy:
      matrix:
        on: [ "ubuntu-24.04" ]
        python: [ "3.14" ]
        version: [ "v1.3" ]
        docker: [ "kubernetes" ]
        include:
          - docker: "kubernetes"
            python: "3.14"
            version: "v1.3"
            commit: "2063e9095f421f2a2ce12abaf196b2ba06ca5aae"
            exclude: "docker_entrypoint,modify_file_content"
    runs-on: ${{ matrix.on }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.16"
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: "Install Docker (MacOS X)"
        uses: docker/setup-docker-action@v4
        env:
          LIMA_START_ARGS: '--vm-type=vz --mount-type=virtiofs --mount /private/var/folders:w'
        if: ${{ startsWith(matrix.on, 'macos-') }}
      - uses: docker/setup-qemu-action@v3
        if: ${{ startsWith(matrix.on, 'ubuntu-') }}
      - name: "Install Apptainer"
        uses: eWaterCycle/setup-apptainer@v2
        with:
          apptainer-version: 1.4.2
        if: ${{ matrix.docker == 'singularity' }}
      - name: "Install KinD"
        uses: helm/kind-action@v1.13.0
        with:
          config: .github/kind/config.yaml
          kubectl_version: v1.34.1
          version: v0.30.0
        if: ${{ matrix.docker == 'kubernetes' }}
      - name: "Configure Calico on KinD"
        run: |
          kubectl apply -f https://docs.projectcalico.org/v3.25/manifests/calico.yaml
          kubectl -n kube-system set env daemonset/calico-node FELIX_IGNORELOOSERPF=true
        if: ${{ matrix.docker == 'kubernetes' }}
      - name: "Test CWL ${{ matrix.version }} conformance"
        env:
          VERSION: ${{ matrix.version }}
          COMMIT: ${{ matrix.commit }}
          EXCLUDE: ${{ matrix.exclude }}
          DOCKER: ${{ matrix.docker }}
        run: ./cwl-conformance-test.sh
      - name: "Upload test results"
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          flags: ${{ startsWith(matrix.on, 'macos-') && 'macos' || 'ubuntu' }}
          report_type: test_results
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: "Upload coverage report for conformance tests"
        uses: actions/upload-artifact@v6
        with:
          name: ${{ format('{0}-py{1}-cwl{2}-{3}-conformance-tests', matrix.on, matrix.python, matrix.version, matrix.docker) }}
          path: |
            ./coverage.xml
          retention-days: 1
          if-no-files-found: error
