name: "CWL Conformance"
on:
  push:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - mark: "cwl10"
            version: "1.0"
          - mark: "cwl11"
            version: "1.1"
          - mark: "cwl12"
            version: "1.2"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - uses: actions/setup-node@v2
        with:
          node-version: "15"
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - name: "Install Python Dependencies and Streamflow"
        run: |
          python -m pip install requests tabulate pytest pytest-asyncio cwltest --user
          python -m pip install . --user
      - name: "Test CWL ${{ matrix.version }} Conformance"
        env:
          PYTEST_MARK: ${{ matrix.mark }}
        run: pytest -m $PYTEST_MARK
